{% extends 'base.html' %}
{% block content %}
<h3>Auditoria</h3>
<table class="table table-striped table-sm">
<tr><th>Data/Hora</th><th>Ação</th><th>Tabela</th><th>Registro</th><th>Usuário</th><th>Antes</th><th>Depois</th></tr>
{% for a in auditorias %}
<tr>
  <td>{{ a.data_hora }}</td><td>{{ a.acao }}</td><td>{{ a.tabela }}</td><td>{{ a.registro_id }}</td><td>{{ a.usuario_nome or 'sistema' }}</td>
  <td><code>{{ a.dados_antes }}</code></td><td><code>{{ a.dados_depois }}</code></td>
</tr>
{% endfor %}
</table>
{% endblock %}
