{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h4 class="mb-3">SIGEF - Login</h4>
        <form method="post">
          <div class="mb-3">
            <label class="form-label">Usuário</label>
            <input name="usuario" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Senha</label>
            <input name="senha" type="password" class="form-control" required>
          </div>
          <button class="btn btn-primary w-100">Entrar</button>
        </form>
        <p class="small mt-3">Admin: admin / admin123</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
